<section class="box pa0">
  <header class="bv_header">
    <span class="bv_h1">
      <a class="fa_angle_link" style="cursor:pointer;">
        <span style="color:white;">
          {% if sigla_idioma = 'pt'%}
            Histórico do fomento, por ano de início
          {% else %}
            Evolution of grants awarded, by year
          {% endif %}
        </span>
        <i class="fa fa-angle-up fa_angle_Style" style="float:right;"></i>
      </a>
    </span>
  </header>
  <div id="barra_historico" class="content">
  </div>
</section>

<script>
  var linhas_vigentes_data = {{ chart.3|safe }};

  /*
   * ATENCAO!!! Incluindo um ano a mais para adequar o dominio do eixo X.
   * Como a data eh apresentada entre os ticks, eh necessario acrescentar um tick a mais.
   */
  var prox_ano = parseInt(linhas_vigentes_data[linhas_vigentes_data.length - 1][0]) + 1;
  linhas_vigentes_data.push([prox_ano.toString(), 0, 0])

  bolsas = []
  projetos = []
  fomentos = []

  var parseDate = d3.time.format("%Y").parse;
  debugger
  linhas_vigentes_data.forEach(function(entry, index, object) {
    /*
     * So estah mostrando os valores maiores que 1991, pq menor que 1991 nao existe na BV e
     * 1991 estah incompleto.
     */
    if (entry[0] <= 1991) {
      linhas_vigentes_data.splice(index, 0);
      return
    }
    entry.date = parseDate(entry[0]);
    bolsas.push({date:entry.date, qt:entry[1], linha_fomento:"Projetos"})
    projetos.push({date:entry.date, qt:entry[2], linha_fomento:"Bolsas"})
  });

  fomentos.push({name:'Bolsas', position: 7, color: "#0000FF" ,values: bolsas},
              {name:'Projetos', position: 17, color: "#B40431" ,values: projetos})

   var margin = {top: 15, right: 30, bottom: 110, left: 90},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - 60;

  var x0 = d3.time.scale()
      .range([0, width]);

  var x1 = d3.scale.ordinal();

  var y = d3.scale.linear()
      .range([height, 0]);

  var default_apresentacao_dict = {{ default_apresentacao_dict.cor_barras_2|safe }}
  var color = d3.scale.ordinal()
  .range(default_apresentacao_dict.reverse());

  var tip_historico = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .html(function(d) {
      return "<strong>" + d.date.getFullYear() + "</strong><p>&nbsp;</p><span style='color:white'>" +
      d.linha_fomento + ": " + d.qt + "</span>";
    })

  var svg_width = width + margin.left + margin.right;
  var svg_height = height + margin.top + margin.bottom;

  var svg = d3.select("#barra_historico")
      .classed("svg-container", true)
      .attr("style", "padding-bottom: " + Math.ceil(svg_height * 100 / svg_width) + "%")
      .append("svg")
      .attr("viewBox", "0 0 " + svg_width + " " + svg_height)
      .attr("preserveAspectRatio", "xMinYMin meet")
      .classed("svg-content", true)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  function getSvgObj_BH(){
    return svg
  }

  svg.call(tip_historico);
  x0.domain(d3.extent(linhas_vigentes_data, function(d) { return d.date}));

  y.domain([0, d3.max(fomentos, function(c) { return d3.max(c.values, function(v) { return v.qt; }); })])

  monta_grid(getSvgObj_BH(), '', '', x0, y)

  var xAxis = d3.svg.axis()
      .ticks(d3.time.years, 1)
      .scale(x0)
      .orient("bottom");

  var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left");

  var fomento = svg.selectAll(".fomento")
      .data(fomentos)
      .enter().append("g")
      .attr("class", "fomento")
      .style("fill", function(d) {return d.color; })
      .attr("transform", function(d) {return "translate(" + d.position + ",0)"; });

  fomento.selectAll("rect")
      .data(function(d) {return d.values; })
    .enter().append("rect")
      .attr("width", 8)
      .attr("x", function(d) {return x0(d.date); })
      .attr("y", function(d) {return y(d.qt); })
      .attr("height", function(d) {return height - y(d.qt); })
      .style("fill", function(d) {return d.color; })
      .on('mouseover', function(d){
        showTip(this, tip_historico, d)
      })
      .on('mouseout', tip_historico.hide);

  {% if sigla_idioma = 'pt'%}
    var texto_y = 'Quantidade de Auxílios/Bolsas iniciados no ano';
    var fomentos = [{'id':'1', 'label': 'Auxílios à pesquisa', 'qt': 1},
                              {'id':'2', 'label': 'Bolsas', 'qt': 1}]
  {% elif sigla_idioma = 'en'%}
    var texto_y = 'Number of contracted research grants/scholarships, by year';
    var fomentos = [{'id':'1', 'label': 'Research grants', 'qt': 1},
                              {'id':'2', 'label': 'Scholarships', 'qt': 1}]
  {% endif %}

  var colors_legenda = {{ default_apresentacao_dict.cor_barras_2|safe }}

  criar_legenda(getSvgObj_BH(), '', fomentos, colors_legenda, 500, 465);

  svb_border(svg, height, width)
  adicionar_eixos(svg, height, 25, xAxis, yAxis)

  textosEixos(svg, '', texto_y)

</script>
